* {
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
}

li {
    list-style: none;
}

button {
  cursor: pointer;
}

.publicWidth {
    width: 1200px;
    margin: 0 auto;
}

.header {
  z-index: 100;
    line-height: 42px;
    height: 42px;
    background-color: skyblue;
}

.header h3 {
    margin-left: 20px;
    color: #fff;
}

.banner {
  z-index: 100;
    margin: 10px auto;
    height: 500px;
    background-color: #fff;
}

.banner img {
    width: 100%;
    height: 100%;
}

.goods {
  z-index: 100;
}

div.goodsCard {
  all: initial;
  position: relative;
  float: left;
  width: 280px;
  height: 400px;
  margin: 9px;
  border: 1px solid gray;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
  background-color: #fff;
  transition: ease-in-out .45s;
}

div.goodsCard:hover {
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, .3);
  transition: ease-in-out .45s;
}

.goods ul li img {
    width: 280px;
    vertical-align: middle;
}

.goods ul li p {
    width: 260px;
    padding: 10px;
    border-top: 1px solid black;
}

.goods ul li span {
    position: absolute;
    display: inline-block;
    color: red;
    font-size: 20px;
    font-weight: 700;
    bottom: 15px;
    left: 15px;
}

.goods ul li button {
    position: absolute;
    right: 20px;
    bottom: 15px;
    height: 30px;
    width: 40px;
    font-weight: 700;
    color: #fff;
    border: 1px solid gray;
    background-color: red;
}

div#purchase {
  visibility: hidden;
  z-index: 200;
  position: fixed;

  padding-top: 1%;

  top: 20%;
  left: 30%;
  width: 40%;
  height: 60%;
  block-size: fit-content;
  
  border: 1px solid gray;
  background-color: #fff;

  text-align: center;
}

div#purchase * {
  margin-bottom: 10px;
}

div#purchase p {
  font-size: 20px;
}

div#purchase p#title {
  font-size: 40px;
  text-align: center;
}

p#goodsNameTitle {
  display: inline-block;
}

p#goodsName {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

div.inputLine {
  text-align: center;
  font-size: 20px;
}

div.inputLine p {
  display: inline-block;
}

div.inputLine input {
  padding: 2px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 4px;
}

div.inputLine input:focus {
  outline: none;
}

div#number {
  text-align: center;
}

div#number * {
  display: inline-block;
}

div#number span {
  width: 20px;
  height: 20px;

  font-size: 18px;
  font-weight: bold;

  color: #fff;
  background-color: rgb(230, 0, 100);
  border-radius: 50%;

  cursor: pointer;
  user-select: none;
}

div#price {
  text-align: center;
}

div#price * {
  display: inline-block;
}

div#price span {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

div#windowControl {
  text-align: center;
}

div#windowControl button {
  margin: 10px;

  width: 100px;
  height: 50px;

  border: none;
  border-radius: 5px;
  outline: none;
}
